
.Celsius {
	width: 32px;
	height: 32px;
}

.Fahrenheit {
	width: 32px;
	height: 32px;
}

.IE {
	width: 32px;
	height: 32px;
}

.IcoMoon {
	width: 32px;
	height: 32px;
}

.accessibility {
	width: 32px;
	height: 32px;
}

.add-to-list {
	width: 32px;
	height: 32px;
}

.address-book {
	width: 32px;
	height: 32px;
}

.adjust {
	width: 32px;
	height: 32px;
}

.adjust2 {
	width: 32px;
	height: 32px;
}

.adn {
	width: 32px;
	height: 32px;
}

.aid {
	width: 32px;
	height: 32px;
}

.air {
	width: 32px;
	height: 32px;
}

.airplane {
	width: 32px;
	height: 32px;
}

.airplane2 {
	width: 32px;
	height: 32px;
}

.alarm {
	width: 32px;
	height: 32px;
}

.alarm2 {
	width: 32px;
	height: 32px;
}

.align-center {
	width: 32px;
	height: 32px;
}

.align-justify {
	width: 32px;
	height: 32px;
}

.align-left {
	width: 32px;
	height: 32px;
}

.align-right {
	width: 32px;
	height: 32px;
}

.ambulance {
	width: 34px;
	height: 32px;
}

.anchor {
	width: 32px;
	height: 32px;
}

.android {
	width: 25px;
	height: 32px;
}

.android2 {
	width: 32px;
	height: 32px;
}

.angle-double-down {
	width: 21px;
	height: 32px;
}

.angle-double-left {
	width: 18px;
	height: 32px;
}

.angle-double-right {
	width: 18px;
	height: 32px;
}

.angle-double-up {
	width: 21px;
	height: 32px;
}

.angle-down {
	width: 21px;
	height: 32px;
}

.angle-left {
	width: 11px;
	height: 32px;
}

.angle-right {
	width: 11px;
	height: 32px;
}

.angle-up {
	width: 21px;
	height: 32px;
}

.angry {
	width: 32px;
	height: 32px;
}

.angry2 {
	width: 32px;
	height: 32px;
}

.apple {
	width: 25px;
	height: 32px;
}

.apple2 {
	width: 32px;
	height: 32px;
}

.archive {
	width: 32px;
	height: 32px;
}

.archive2 {
	width: 32px;
	height: 32px;
}

.arrow {
	width: 32px;
	height: 32px;
}

.arrow-circle-down {
	width: 32px;
	height: 32px;
}

.arrow-circle-left {
	width: 32px;
	height: 32px;
}

.arrow-circle-o-down {
	width: 32px;
	height: 32px;
}

.arrow-circle-o-left {
	width: 32px;
	height: 32px;
}

.arrow-circle-o-right {
	width: 32px;
	height: 32px;
}

.arrow-circle-o-up {
	width: 32px;
	height: 32px;
}

.arrow-circle-right {
	width: 32px;
	height: 32px;
}

.arrow-circle-up {
	width: 32px;
	height: 32px;
}

.arrow-down {
	width: 30px;
	height: 32px;
}

.arrow-down-left {
	width: 32px;
	height: 32px;
}

.arrow-down-left2 {
	width: 32px;
	height: 32px;
}

.arrow-down-left3 {
	width: 32px;
	height: 32px;
}

.arrow-down-right {
	width: 32px;
	height: 32px;
}

.arrow-down-right2 {
	width: 32px;
	height: 32px;
}

.arrow-down-right3 {
	width: 32px;
	height: 32px;
}

.arrow-down10 {
	width: 32px;
	height: 32px;
}

.arrow-down11 {
	width: 32px;
	height: 32px;
}

.arrow-down12 {
	width: 32px;
	height: 32px;
}

.arrow-down2 {
	width: 32px;
	height: 32px;
}

.arrow-down3 {
	width: 32px;
	height: 32px;
}

.arrow-down4 {
	width: 32px;
	height: 32px;
}

.arrow-down5 {
	width: 32px;
	height: 32px;
}

.arrow-down6 {
	width: 32px;
	height: 32px;
}

.arrow-down7 {
	width: 32px;
	height: 32px;
}

.arrow-down8 {
	width: 32px;
	height: 32px;
}

.arrow-down9 {
	width: 32px;
	height: 32px;
}

.arrow-left {
	width: 32px;
	height: 32px;
}

.arrow-left10 {
	width: 32px;
	height: 32px;
}

.arrow-left11 {
	width: 32px;
	height: 32px;
}

.arrow-left12 {
	width: 32px;
	height: 32px;
}

.arrow-left2 {
	width: 32px;
	height: 32px;
}

.arrow-left3 {
	width: 32px;
	height: 32px;
}

.arrow-left4 {
	width: 32px;
	height: 32px;
}

.arrow-left5 {
	width: 32px;
	height: 32px;
}

.arrow-left6 {
	width: 32px;
	height: 32px;
}

.arrow-left7 {
	width: 32px;
	height: 32px;
}

.arrow-left8 {
	width: 32px;
	height: 32px;
}

.arrow-left9 {
	width: 32px;
	height: 32px;
}

.arrow-right {
	width: 32px;
	height: 32px;
}

.arrow-right10 {
	width: 32px;
	height: 32px;
}

.arrow-right11 {
	width: 32px;
	height: 32px;
}

.arrow-right2 {
	width: 32px;
	height: 32px;
}

.arrow-right3 {
	width: 32px;
	height: 32px;
}

.arrow-right4 {
	width: 32px;
	height: 32px;
}

.arrow-right5 {
	width: 32px;
	height: 32px;
}

.arrow-right6 {
	width: 32px;
	height: 32px;
}

.arrow-right7 {
	width: 32px;
	height: 32px;
}

.arrow-right8 {
	width: 32px;
	height: 32px;
}

.arrow-right9 {
	width: 32px;
	height: 32px;
}

.arrow-up {
	width: 30px;
	height: 32px;
}

.arrow-up-left {
	width: 32px;
	height: 32px;
}

.arrow-up-left2 {
	width: 32px;
	height: 32px;
}

.arrow-up-left3 {
	width: 32px;
	height: 32px;
}

.arrow-up-right {
	width: 32px;
	height: 32px;
}

.arrow-up-right2 {
	width: 32px;
	height: 32px;
}

.arrow-up-right3 {
	width: 32px;
	height: 32px;
}

.arrow-up-upload {
	width: 32px;
	height: 32px;
}

.arrow-up10 {
	width: 32px;
	height: 32px;
}

.arrow-up11 {
	width: 32px;
	height: 32px;
}

.arrow-up12 {
	width: 32px;
	height: 32px;
}

.arrow-up2 {
	width: 32px;
	height: 32px;
}

.arrow-up3 {
	width: 32px;
	height: 32px;
}

.arrow-up4 {
	width: 32px;
	height: 32px;
}

.arrow-up5 {
	width: 32px;
	height: 32px;
}

.arrow-up6 {
	width: 32px;
	height: 32px;
}

.arrow-up7 {
	width: 32px;
	height: 32px;
}

.arrow-up8 {
	width: 32px;
	height: 32px;
}

.arrow-up9 {
	width: 32px;
	height: 32px;
}

.arrow2 {
	width: 32px;
	height: 32px;
}

.arrows {
	width: 32px;
	height: 32px;
}

.arrows-alt {
	width: 32px;
	height: 32px;
}

.arrows-h {
	width: 32px;
	height: 32px;
}

.arrows-v {
	width: 14px;
	height: 32px;
}

.asterisk {
	width: 30px;
	height: 32px;
}

.attachment {
	width: 32px;
	height: 32px;
}

.back {
	width: 32px;
	height: 32px;
}

.backward {
	width: 30px;
	height: 32px;
}

.backward2 {
	width: 32px;
	height: 32px;
}

.backward3 {
	width: 32px;
	height: 32px;
}

.bag {
	width: 32px;
	height: 32px;
}

.ban {
	width: 32px;
	height: 32px;
}

.bar-chart-o {
	width: 34px;
	height: 32px;
}

.barcode {
	width: 32px;
	height: 32px;
}

.barcode2 {
	width: 32px;
	height: 32px;
}

.bars {
	width: 32px;
	height: 32px;
}

.bars2 {
	width: 32px;
	height: 32px;
}

.bars3 {
	width: 32px;
	height: 32px;
}

.bars4 {
	width: 32px;
	height: 32px;
}

.battery {
	width: 32px;
	height: 32px;
}

.beer {
	width: 30px;
	height: 32px;
}

.behance {
	width: 32px;
	height: 32px;
}

.bell {
	width: 30px;
	height: 32px;
}

.bell-o {
	width: 30px;
	height: 32px;
}

.bell2 {
	width: 32px;
	height: 32px;
}

.bell3 {
	width: 32px;
	height: 32px;
}

.binoculars {
	width: 32px;
	height: 32px;
}

.bitbucket {
	width: 25px;
	height: 32px;
}

.bitbucket-square {
	width: 32px;
	height: 32px;
}

.bitcoin {
	width: 23px;
	height: 32px;
}

.blocked {
	width: 32px;
	height: 32px;
}

.blocked2 {
	width: 32px;
	height: 32px;
}

.blog {
	width: 32px;
	height: 32px;
}

.blogger {
	width: 32px;
	height: 32px;
}

.blogger2 {
	width: 32px;
	height: 32px;
}

.bold {
	width: 25px;
	height: 32px;
}

.bold2 {
	width: 32px;
	height: 32px;
}

.bolt {
	width: 32px;
	height: 32px;
}

.book {
	width: 30px;
	height: 32px;
}

.book2 {
	width: 32px;
	height: 32px;
}

.book3 {
	width: 32px;
	height: 32px;
}

.book4 {
	width: 32px;
	height: 32px;
}

.bookmark {
	width: 23px;
	height: 32px;
}

.bookmark-o {
	width: 23px;
	height: 32px;
}

.bookmark2 {
	width: 32px;
	height: 32px;
}

.bookmark3 {
	width: 32px;
	height: 32px;
}

.bookmarks {
	width: 32px;
	height: 32px;
}

.bookmarks2 {
	width: 32px;
	height: 32px;
}

.books {
	width: 32px;
	height: 32px;
}

.box {
	width: 32px;
	height: 32px;
}

.box-add {
	width: 32px;
	height: 32px;
}

.box-remove {
	width: 32px;
	height: 32px;
}

.briefcase {
	width: 32px;
	height: 32px;
}

.briefcase2 {
	width: 32px;
	height: 32px;
}

.briefcase3 {
	width: 32px;
	height: 32px;
}

.brightness-contrast {
	width: 32px;
	height: 32px;
}

.brightness-medium {
	width: 32px;
	height: 32px;
}

.brogress-1 {
	width: 32px;
	height: 32px;
}

.browser {
	width: 32px;
	height: 32px;
}

.brush {
	width: 32px;
	height: 32px;
}

.bubble {
	width: 32px;
	height: 32px;
}

.bubble2 {
	width: 32px;
	height: 32px;
}

.bubbles {
	width: 36px;
	height: 32px;
}

.bubbles2 {
	width: 36px;
	height: 32px;
}

.bubbles3 {
	width: 36px;
	height: 32px;
}

.bubbles4 {
	width: 36px;
	height: 32px;
}

.bucket {
	width: 32px;
	height: 32px;
}

.bug {
	width: 30px;
	height: 32px;
}

.bug2 {
	width: 32px;
	height: 32px;
}

.building-o {
	width: 25px;
	height: 32px;
}

.bullhorn {
	width: 32px;
	height: 32px;
}

.bullhorn2 {
	width: 32px;
	height: 32px;
}

.bullseye {
	width: 32px;
	height: 32px;
}

.busy {
	width: 32px;
	height: 32px;
}

.cabinet {
	width: 32px;
	height: 32px;
}

.calculate {
	width: 32px;
	height: 32px;
}

.calendar {
	width: 30px;
	height: 32px;
}

.calendar-o {
	width: 30px;
	height: 32px;
}

.calendar2 {
	width: 32px;
	height: 32px;
}

.calendar3 {
	width: 32px;
	height: 32px;
}

.calendar4 {
	width: 32px;
	height: 32px;
}

.camera {
	width: 34px;
	height: 32px;
}

.camera-retro {
	width: 32px;
	height: 32px;
}

.camera2 {
	width: 32px;
	height: 32px;
}

.camera3 {
	width: 32px;
	height: 32px;
}

.camera4 {
	width: 32px;
	height: 32px;
}

.cancel-circle {
	width: 32px;
	height: 32px;
}

.caret-down {
	width: 18px;
	height: 32px;
}

.caret-left {
	width: 11px;
	height: 32px;
}

.caret-right {
	width: 11px;
	height: 32px;
}

.caret-up {
	width: 18px;
	height: 32px;
}

.cart {
	width: 32px;
	height: 32px;
}

.cart2 {
	width: 32px;
	height: 32px;
}

.cart3 {
	width: 32px;
	height: 32px;
}

.cart4 {
	width: 32px;
	height: 32px;
}

.cc {
	width: 32px;
	height: 32px;
}

.cc-by {
	width: 32px;
	height: 32px;
}

.cc-nc {
	width: 32px;
	height: 32px;
}

.cc-nc-eu {
	width: 32px;
	height: 32px;
}

.cc-nc-jp {
	width: 32px;
	height: 32px;
}

.cc-nd {
	width: 32px;
	height: 32px;
}

.cc-pd {
	width: 32px;
	height: 32px;
}

.cc-sa {
	width: 32px;
	height: 32px;
}

.cc-share {
	width: 32px;
	height: 32px;
}

.cc-share2 {
	width: 32px;
	height: 32px;
}

.cc-zero {
	width: 32px;
	height: 32px;
}

.ccw {
	width: 32px;
	height: 32px;
}

.cd {
	width: 32px;
	height: 32px;
}

.certificate {
	width: 32px;
	height: 32px;
}

.chain {
	width: 30px;
	height: 32px;
}

.chat {
	width: 32px;
	height: 32px;
}

.check {
	width: 32px;
	height: 32px;
}

.check-circle {
	width: 32px;
	height: 32px;
}

.check-circle-o {
	width: 32px;
	height: 32px;
}

.check-square {
	width: 32px;
	height: 32px;
}

.check-square-o {
	width: 30px;
	height: 32px;
}

.checkbox-checked {
	width: 32px;
	height: 32px;
}

.checkbox-partial {
	width: 32px;
	height: 32px;
}

.checkbox-unchecked {
	width: 32px;
	height: 32px;
}

.checkmark {
	width: 32px;
	height: 32px;
}

.checkmark-circle {
	width: 32px;
	height: 32px;
}

.checkmark2 {
	width: 32px;
	height: 32px;
}

.checkmark3 {
	width: 32px;
	height: 32px;
}

.chevron-circle-down {
	width: 32px;
	height: 32px;
}

.chevron-circle-left {
	width: 32px;
	height: 32px;
}

.chevron-circle-right {
	width: 32px;
	height: 32px;
}

.chevron-circle-up {
	width: 32px;
	height: 32px;
}

.chevron-down {
	width: 30px;
	height: 32px;
}

.chevron-left {
	width: 21px;
	height: 32px;
}

.chevron-right {
	width: 21px;
	height: 32px;
}

.chevron-up {
	width: 30px;
	height: 32px;
}

.chrome {
	width: 32px;
	height: 32px;
}

.circle {
	width: 32px;
	height: 32px;
}

.circle-o {
	width: 32px;
	height: 32px;
}

.circles {
	width: 32px;
	height: 32px;
}

.clipboard {
	width: 32px;
	height: 32px;
}

.clock {
	width: 32px;
	height: 32px;
}

.clock-o {
	width: 32px;
	height: 32px;
}

.clock2 {
	width: 32px;
	height: 32px;
}

.clock3 {
	width: 32px;
	height: 32px;
}

.close {
	width: 32px;
	height: 32px;
}

.cloud {
	width: 32px;
	height: 32px;
}

.cloud-download {
	width: 34px;
	height: 32px;
}

.cloud-download2 {
	width: 32px;
	height: 32px;
}

.cloud-upload {
	width: 34px;
	height: 32px;
}

.cloud-upload2 {
	width: 32px;
	height: 32px;
}

.cloud2 {
	width: 32px;
	height: 32px;
}

.cloud3 {
	width: 32px;
	height: 32px;
}

.cloud4 {
	width: 32px;
	height: 32px;
}

.cloud5 {
	width: 32px;
	height: 32px;
}

.cloud6 {
	width: 34px;
	height: 32px;
}

.cloud7 {
	width: 32px;
	height: 32px;
}

.cloud8 {
	width: 32px;
	height: 32px;
}

.cloudy {
	width: 32px;
	height: 32px;
}

.cloudy2 {
	width: 32px;
	height: 32px;
}

.cloudy3 {
	width: 32px;
	height: 32px;
}

.cloudy4 {
	width: 32px;
	height: 32px;
}

.clubs {
	width: 32px;
	height: 32px;
}

.cny {
	width: 18px;
	height: 32px;
}

.code {
	width: 34px;
	height: 32px;
}

.code-fork {
	width: 18px;
	height: 32px;
}

.code2 {
	width: 32px;
	height: 32px;
}

.code3 {
	width: 32px;
	height: 32px;
}

.coffee {
	width: 34px;
	height: 32px;
}

.cog {
	width: 32px;
	height: 32px;
}

.cog2 {
	width: 32px;
	height: 32px;
}

.cog3 {
	width: 32px;
	height: 32px;
}

.cogs {
	width: 32px;
	height: 32px;
}

.coin {
	width: 32px;
	height: 32px;
}

.columns {
	width: 30px;
	height: 32px;
}

.comment {
	width: 32px;
	height: 32px;
}

.comment-o {
	width: 32px;
	height: 32px;
}

.comment2 {
	width: 32px;
	height: 32px;
}

.comments {
	width: 32px;
	height: 32px;
}

.comments-o {
	width: 32px;
	height: 32px;
}

.compass {
	width: 32px;
	height: 32px;
}

.compass2 {
	width: 32px;
	height: 32px;
}

.compass3 {
	width: 32px;
	height: 32px;
}

.compass4 {
	width: 32px;
	height: 32px;
}

.compress {
	width: 32px;
	height: 32px;
}

.cone {
	width: 32px;
	height: 32px;
}

.confused {
	width: 32px;
	height: 32px;
}

.confused2 {
	width: 32px;
	height: 32px;
}

.connection {
	width: 40px;
	height: 32px;
}

.console {
	width: 32px;
	height: 32px;
}

.contract {
	width: 32px;
	height: 32px;
}

.contract2 {
	width: 32px;
	height: 32px;
}

.contrast {
	width: 32px;
	height: 32px;
}

.cool {
	width: 32px;
	height: 32px;
}

.cool2 {
	width: 32px;
	height: 32px;
}

.copy {
	width: 32px;
	height: 32px;
}

.copy2 {
	width: 32px;
	height: 32px;
}

.copy3 {
	width: 32px;
	height: 32px;
}

.copy4 {
	width: 32px;
	height: 32px;
}

.credit {
	width: 32px;
	height: 32px;
}

.credit-card {
	width: 34px;
	height: 32px;
}

.creditcard {
	width: 32px;
	height: 32px;
}

.crop {
	width: 30px;
	height: 32px;
}

.crop2 {
	width: 32px;
	height: 32px;
}

.cross {
	width: 32px;
	height: 32px;
}

.cross2 {
	width: 32px;
	height: 32px;
}

.cross3 {
	width: 32px;
	height: 32px;
}

.crosshairs {
	width: 32px;
	height: 32px;
}

.css3 {
	width: 32px;
	height: 32px;
}

.css32 {
	width: 32px;
	height: 32px;
}

.cup {
	width: 32px;
	height: 32px;
}

.cut {
	width: 32px;
	height: 32px;
}

.cutlery {
	width: 25px;
	height: 32px;
}

.cw {
	width: 32px;
	height: 32px;
}

.cycle {
	width: 32px;
	height: 32px;
}

.danielbruce {
	width: 32px;
	height: 32px;
}

.danielbruce2 {
	width: 32px;
	height: 32px;
}

.dashboard {
	width: 32px;
	height: 32px;
}

.dashboard2 {
	width: 32px;
	height: 32px;
}

.database {
	width: 32px;
	height: 32px;
}

.dedent {
	width: 32px;
	height: 32px;
}

.delicious {
	width: 32px;
	height: 32px;
}

.desktop {
	width: 34px;
	height: 32px;
}

.deviantart {
	width: 32px;
	height: 32px;
}

.deviantart2 {
	width: 32px;
	height: 32px;
}

.diamonds {
	width: 32px;
	height: 32px;
}

.dice {
	width: 32px;
	height: 32px;
}

.directions {
	width: 32px;
	height: 32px;
}

.disk {
	width: 32px;
	height: 32px;
}

.disk2 {
	width: 32px;
	height: 32px;
}

.docs {
	width: 32px;
	height: 32px;
}

.document {
	width: 32px;
	height: 32px;
}

.dollar {
	width: 18px;
	height: 32px;
}

.dot {
	width: 32px;
	height: 32px;
}

.dot-circle-o {
	width: 32px;
	height: 32px;
}

.dots {
	width: 32px;
	height: 32px;
}

.download {
	width: 30px;
	height: 32px;
}

.download2 {
	width: 32px;
	height: 32px;
}

.download3 {
	width: 32px;
	height: 32px;
}

.download4 {
	width: 32px;
	height: 32px;
}

.download5 {
	width: 32px;
	height: 32px;
}

.drawer {
	width: 32px;
	height: 32px;
}

.drawer2 {
	width: 32px;
	height: 32px;
}

.drawer3 {
	width: 32px;
	height: 32px;
}

.drawer4 {
	width: 32px;
	height: 32px;
}

.dribbble {
	width: 32px;
	height: 32px;
}

.dribbble2 {
	width: 32px;
	height: 32px;
}

.dribbble3 {
	width: 32px;
	height: 32px;
}

.dribbble4 {
	width: 32px;
	height: 32px;
}

.dribbble5 {
	width: 32px;
	height: 32px;
}

.dribbble6 {
	width: 32px;
	height: 32px;
}

.drive {
	width: 32px;
	height: 32px;
}

.dropbox {
	width: 32px;
	height: 32px;
}

.dropbox2 {
	width: 32px;
	height: 32px;
}

.droplet {
	width: 32px;
	height: 32px;
}

.droplet2 {
	width: 32px;
	height: 32px;
}

.droplets {
	width: 32px;
	height: 32px;
}

.droplets2 {
	width: 32px;
	height: 32px;
}

.earth {
	width: 32px;
	height: 32px;
}

.earth2 {
	width: 32px;
	height: 32px;
}

.edit {
	width: 32px;
	height: 32px;
}

.eject {
	width: 27px;
	height: 32px;
}

.eject2 {
	width: 32px;
	height: 32px;
}

.ellipsis {
	width: 32px;
	height: 32px;
}

.ellipsis-h {
	width: 25px;
	height: 32px;
}

.ellipsis-v {
	width: 7px;
	height: 32px;
}

.embed {
	width: 32px;
	height: 32px;
}

.enter {
	width: 32px;
	height: 32px;
}

.envelope {
	width: 32px;
	height: 32px;
}

.envelope-o {
	width: 32px;
	height: 32px;
}

.envelope2 {
	width: 32px;
	height: 32px;
}

.equalizer {
	width: 32px;
	height: 32px;
}

.erase {
	width: 32px;
	height: 32px;
}

.eraser {
	width: 34px;
	height: 32px;
}

.euro {
	width: 18px;
	height: 32px;
}

.evernote {
	width: 32px;
	height: 32px;
}

.evil {
	width: 32px;
	height: 32px;
}

.evil2 {
	width: 32px;
	height: 32px;
}

.exchange {
	width: 32px;
	height: 32px;
}

.exclamation {
	width: 11px;
	height: 32px;
}

.exclamation-circle {
	width: 32px;
	height: 32px;
}

.exit {
	width: 32px;
	height: 32px;
}

.expand {
	width: 32px;
	height: 32px;
}

.expand2 {
	width: 32px;
	height: 32px;
}

.expand3 {
	width: 32px;
	height: 32px;
}

.export {
	width: 32px;
	height: 32px;
}

.external-link {
	width: 32px;
	height: 32px;
}

.external-link-square {
	width: 32px;
	height: 32px;
}

.eye {
	width: 32px;
	height: 32px;
}

.eye-blocked {
	width: 32px;
	height: 32px;
}

.eye-slash {
	width: 32px;
	height: 32px;
}

.eye2 {
	width: 32px;
	height: 32px;
}

.eye3 {
	width: 32px;
	height: 32px;
}

.eye4 {
	width: 32px;
	height: 32px;
}

.facebook {
	width: 14px;
	height: 32px;
}

.facebook-square {
	width: 32px;
	height: 32px;
}

.facebook2 {
	width: 32px;
	height: 32px;
}

.facebook3 {
	width: 32px;
	height: 32px;
}

.facebook4 {
	width: 32px;
	height: 32px;
}

.facebook5 {
	width: 32px;
	height: 32px;
}

.facebook6 {
	width: 32px;
	height: 32px;
}

.facebook7 {
	width: 32px;
	height: 32px;
}

.fast-backward {
	width: 32px;
	height: 32px;
}

.fast-forward {
	width: 32px;
	height: 32px;
}

.feather {
	width: 32px;
	height: 32px;
}

.feed {
	width: 32px;
	height: 32px;
}

.feed2 {
	width: 32px;
	height: 32px;
}

.feed3 {
	width: 32px;
	height: 32px;
}

.feed4 {
	width: 32px;
	height: 32px;
}

.female {
	width: 23px;
	height: 32px;
}

.fighter-jet {
	width: 34px;
	height: 32px;
}

.file {
	width: 23px;
	height: 32px;
}

.file-css {
	width: 32px;
	height: 32px;
}

.file-excel {
	width: 32px;
	height: 32px;
}

.file-o {
	width: 23px;
	height: 32px;
}

.file-openoffice {
	width: 32px;
	height: 32px;
}

.file-pdf {
	width: 32px;
	height: 32px;
}

.file-powerpoint {
	width: 32px;
	height: 32px;
}

.file-text {
	width: 23px;
	height: 32px;
}

.file-text-o {
	width: 23px;
	height: 32px;
}

.file-word {
	width: 32px;
	height: 32px;
}

.file-xml {
	width: 32px;
	height: 32px;
}

.file-zip {
	width: 32px;
	height: 32px;
}

.file2 {
	width: 32px;
	height: 32px;
}

.file3 {
	width: 32px;
	height: 32px;
}

.file4 {
	width: 32px;
	height: 32px;
}

.file5 {
	width: 32px;
	height: 32px;
}

.film {
	width: 34px;
	height: 32px;
}

.film2 {
	width: 32px;
	height: 32px;
}

.filter {
	width: 25px;
	height: 32px;
}

.filter2 {
	width: 32px;
	height: 32px;
}

.filter3 {
	width: 32px;
	height: 32px;
}

.finder {
	width: 32px;
	height: 32px;
}

.fire {
	width: 25px;
	height: 32px;
}

.fire-extinguisher {
	width: 25px;
	height: 32px;
}

.fire2 {
	width: 32px;
	height: 32px;
}

.firefox {
	width: 32px;
	height: 32px;
}

.first {
	width: 32px;
	height: 32px;
}

.first2 {
	width: 32px;
	height: 32px;
}

.flag {
	width: 32px;
	height: 32px;
}

.flag-checkered {
	width: 32px;
	height: 32px;
}

.flag-o {
	width: 32px;
	height: 32px;
}

.flag2 {
	width: 32px;
	height: 32px;
}

.flag3 {
	width: 32px;
	height: 32px;
}

.flash {
	width: 16px;
	height: 32px;
}

.flashlight {
	width: 32px;
	height: 32px;
}

.flask {
	width: 30px;
	height: 32px;
}

.flattr {
	width: 32px;
	height: 32px;
}

.flattr2 {
	width: 32px;
	height: 32px;
}

.flickr {
	width: 32px;
	height: 32px;
}

.flickr2 {
	width: 32px;
	height: 32px;
}

.flickr3 {
	width: 32px;
	height: 32px;
}

.flickr4 {
	width: 32px;
	height: 32px;
}

.flickr5 {
	width: 32px;
	height: 32px;
}

.flickr6 {
	width: 32px;
	height: 32px;
}

.flickr7 {
	width: 32px;
	height: 32px;
}

.flip {
	width: 32px;
	height: 32px;
}

.flip2 {
	width: 32px;
	height: 32px;
}

.flow-branch {
	width: 32px;
	height: 32px;
}

.flow-cascade {
	width: 32px;
	height: 32px;
}

.flow-line {
	width: 32px;
	height: 32px;
}

.flow-parallel {
	width: 32px;
	height: 32px;
}

.flow-tree {
	width: 32px;
	height: 32px;
}

.folder {
	width: 30px;
	height: 32px;
}

.folder-o {
	width: 30px;
	height: 32px;
}

.folder-open {
	width: 34px;
	height: 32px;
}

.folder-open-o {
	width: 34px;
	height: 32px;
}

.folder-open2 {
	width: 32px;
	height: 32px;
}

.folder2 {
	width: 32px;
	height: 32px;
}

.folder3 {
	width: 32px;
	height: 32px;
}

.font {
	width: 30px;
	height: 32px;
}

.font2 {
	width: 32px;
	height: 32px;
}

.food {
	width: 32px;
	height: 32px;
}

.forrst {
	width: 32px;
	height: 32px;
}

.forrst2 {
	width: 32px;
	height: 32px;
}

.forward {
	width: 30px;
	height: 32px;
}

.forward2 {
	width: 32px;
	height: 32px;
}

.forward3 {
	width: 32px;
	height: 32px;
}

.forward4 {
	width: 32px;
	height: 32px;
}

.forward5 {
	width: 32px;
	height: 32px;
}

.foursquare {
	width: 30px;
	height: 32px;
}

.foursquare2 {
	width: 32px;
	height: 32px;
}

.foursquare3 {
	width: 32px;
	height: 32px;
}

.frown-o {
	width: 32px;
	height: 32px;
}

.gamepad {
	width: 34px;
	height: 32px;
}

.gauge {
	width: 32px;
	height: 32px;
}

.gbp {
	width: 18px;
	height: 32px;
}

.gear {
	width: 32px;
	height: 32px;
}

.gears {
	width: 34px;
	height: 32px;
}

.gift {
	width: 32px;
	height: 32px;
}

.gift2 {
	width: 32px;
	height: 32px;
}

.github {
	width: 32px;
	height: 32px;
}

.github-alt {
	width: 30px;
	height: 32px;
}

.github-square {
	width: 32px;
	height: 32px;
}

.github2 {
	width: 32px;
	height: 32px;
}

.github3 {
	width: 32px;
	height: 32px;
}

.github4 {
	width: 32px;
	height: 32px;
}

.github5 {
	width: 32px;
	height: 32px;
}

.github6 {
	width: 32px;
	height: 32px;
}

.github7 {
	width: 32px;
	height: 32px;
}

.github8 {
	width: 32px;
	height: 32px;
}

.gittip {
	width: 32px;
	height: 32px;
}

.glass {
	width: 32px;
	height: 32px;
}

.glass2 {
	width: 32px;
	height: 32px;
}

.globe {
	width: 32px;
	height: 32px;
}

.globe2 {
	width: 32px;
	height: 32px;
}

.google {
	width: 32px;
	height: 32px;
}

.google-drive {
	width: 32px;
	height: 32px;
}

.google-plus {
	width: 30px;
	height: 32px;
}

.google-plus-square {
	width: 32px;
	height: 32px;
}

.googleplus {
	width: 32px;
	height: 32px;
}

.googleplus2 {
	width: 32px;
	height: 32px;
}

.googleplus3 {
	width: 32px;
	height: 32px;
}

.googleplus4 {
	width: 32px;
	height: 32px;
}

.googleplus5 {
	width: 32px;
	height: 32px;
}

.googleplus6 {
	width: 32px;
	height: 32px;
}

.graduation {
	width: 32px;
	height: 32px;
}

.graph {
	width: 32px;
	height: 32px;
}

.grin {
	width: 32px;
	height: 32px;
}

.grin2 {
	width: 32px;
	height: 32px;
}

.group {
	width: 34px;
	height: 32px;
}

.h-square {
	width: 32px;
	height: 32px;
}

.hammer {
	width: 32px;
	height: 32px;
}

.hammer2 {
	width: 32px;
	height: 32px;
}

.hand-o-down {
	width: 32px;
	height: 32px;
}

.hand-o-left {
	width: 32px;
	height: 32px;
}

.hand-o-right {
	width: 32px;
	height: 32px;
}

.hand-o-up {
	width: 32px;
	height: 32px;
}

.happy {
	width: 32px;
	height: 32px;
}

.happy2 {
	width: 32px;
	height: 32px;
}

.hdd-o {
	width: 32px;
	height: 32px;
}

.headphones {
	width: 30px;
	height: 32px;
}

.headphones2 {
	width: 32px;
	height: 32px;
}

.heart {
	width: 32px;
	height: 32px;
}

.heart-broken {
	width: 32px;
	height: 32px;
}

.heart-o {
	width: 32px;
	height: 32px;
}

.heart2 {
	width: 32px;
	height: 32px;
}

.heart3 {
	width: 32px;
	height: 32px;
}

.heart4 {
	width: 32px;
	height: 32px;
}

.heart5 {
	width: 32px;
	height: 32px;
}

.help {
	width: 32px;
	height: 32px;
}

.history {
	width: 32px;
	height: 32px;
}

.history2 {
	width: 32px;
	height: 32px;
}

.home {
	width: 30px;
	height: 32px;
}

.home2 {
	width: 32px;
	height: 32px;
}

.home3 {
	width: 32px;
	height: 32px;
}

.home4 {
	width: 32px;
	height: 32px;
}

.hospital-o {
	width: 25px;
	height: 32px;
}

.hourglass {
	width: 32px;
	height: 32px;
}

.house {
	width: 32px;
	height: 32px;
}

.html5 {
	width: 25px;
	height: 32px;
}

.html52 {
	width: 32px;
	height: 32px;
}

.html53 {
	width: 32px;
	height: 32px;
}

.image {
	width: 32px;
	height: 32px;
}

.image2 {
	width: 32px;
	height: 32px;
}

.images {
	width: 32px;
	height: 32px;
}

.inbox {
	width: 32px;
	height: 32px;
}

.indent {
	width: 32px;
	height: 32px;
}

.indent-decrease {
	width: 32px;
	height: 32px;
}

.indent-increase {
	width: 32px;
	height: 32px;
}

.infinity {
	width: 32px;
	height: 32px;
}

.info {
	width: 11px;
	height: 32px;
}

.info-circle {
	width: 32px;
	height: 32px;
}

.info2 {
	width: 32px;
	height: 32px;
}

.info3 {
	width: 32px;
	height: 32px;
}

.info4 {
	width: 32px;
	height: 32px;
}

.info5 {
	width: 32px;
	height: 32px;
}

.insert-template {
	width: 32px;
	height: 32px;
}

.instagram {
	width: 32px;
	height: 32px;
}

.instagram2 {
	width: 32px;
	height: 32px;
}

.instagram3 {
	width: 32px;
	height: 32px;
}

.install {
	width: 32px;
	height: 32px;
}

.italic {
	width: 18px;
	height: 32px;
}

.italic2 {
	width: 32px;
	height: 32px;
}

.joomla {
	width: 32px;
	height: 32px;
}

.key {
	width: 32px;
	height: 32px;
}

.key2 {
	width: 32px;
	height: 32px;
}

.key3 {
	width: 32px;
	height: 32px;
}

.key4 {
	width: 32px;
	height: 32px;
}

.keyboard {
	width: 36px;
	height: 32px;
}

.keyboard-o {
	width: 34px;
	height: 32px;
}

.keyboard2 {
	width: 32px;
	height: 32px;
}

.lab {
	width: 32px;
	height: 32px;
}

.landscape {
	width: 32px;
	height: 32px;
}

.language {
	width: 32px;
	height: 32px;
}

.lanyrd {
	width: 32px;
	height: 32px;
}

.laptop {
	width: 34px;
	height: 32px;
}

.laptop2 {
	width: 32px;
	height: 32px;
}

.last {
	width: 32px;
	height: 32px;
}

.last2 {
	width: 32px;
	height: 32px;
}

.lastfm {
	width: 32px;
	height: 32px;
}

.lastfm2 {
	width: 32px;
	height: 32px;
}

.lastfm3 {
	width: 32px;
	height: 32px;
}

.lastfm4 {
	width: 32px;
	height: 32px;
}

.layout {
	width: 32px;
	height: 32px;
}

.leaf {
	width: 32px;
	height: 32px;
}

.leaf2 {
	width: 32px;
	height: 32px;
}

.leaf3 {
	width: 32px;
	height: 32px;
}

.lefttoright {
	width: 32px;
	height: 32px;
}

.legal {
	width: 32px;
	height: 32px;
}

.lemon-o {
	width: 32px;
	height: 32px;
}

.level-down {
	width: 18px;
	height: 32px;
}

.level-up {
	width: 18px;
	height: 32px;
}

.library {
	width: 32px;
	height: 32px;
}

.libreoffice {
	width: 32px;
	height: 32px;
}

.lifebuoy {
	width: 32px;
	height: 32px;
}

.light-bulb {
	width: 32px;
	height: 32px;
}

.lightbulb-o {
	width: 18px;
	height: 32px;
}

.lightning {
	width: 32px;
	height: 32px;
}

.lightning2 {
	width: 32px;
	height: 32px;
}

.lightning3 {
	width: 32px;
	height: 32px;
}

.lightning4 {
	width: 32px;
	height: 32px;
}

.lightning5 {
	width: 32px;
	height: 32px;
}

.lightning6 {
	width: 32px;
	height: 32px;
}

.lines {
	width: 32px;
	height: 32px;
}

.link {
	width: 32px;
	height: 32px;
}

.link2 {
	width: 32px;
	height: 32px;
}

.linkedin {
	width: 32px;
	height: 32px;
}

.linkedin-square {
	width: 32px;
	height: 32px;
}

.linkedin2 {
	width: 32px;
	height: 32px;
}

.linkedin3 {
	width: 32px;
	height: 32px;
}

.linkedin4 {
	width: 32px;
	height: 32px;
}

.linux {
	width: 32px;
	height: 32px;
}

.list {
	width: 32px;
	height: 32px;
}

.list-alt {
	width: 32px;
	height: 32px;
}

.list-ol {
	width: 32px;
	height: 32px;
}

.list-ul {
	width: 32px;
	height: 32px;
}

.list2 {
	width: 32px;
	height: 32px;
}

.list3 {
	width: 32px;
	height: 32px;
}

.list4 {
	width: 32px;
	height: 32px;
}

.list5 {
	width: 32px;
	height: 32px;
}

.location {
	width: 32px;
	height: 32px;
}

.location-arrow {
	width: 25px;
	height: 32px;
}

.location2 {
	width: 32px;
	height: 32px;
}

.location3 {
	width: 32px;
	height: 32px;
}

.location4 {
	width: 32px;
	height: 32px;
}

.lock {
	width: 21px;
	height: 32px;
}

.lock-open {
	width: 32px;
	height: 32px;
}

.lock2 {
	width: 32px;
	height: 32px;
}

.lock3 {
	width: 32px;
	height: 32px;
}

.lock4 {
	width: 32px;
	height: 32px;
}

.login {
	width: 32px;
	height: 32px;
}

.logout {
	width: 32px;
	height: 32px;
}

.long-arrow-down {
	width: 14px;
	height: 32px;
}

.long-arrow-left {
	width: 32px;
	height: 32px;
}

.long-arrow-right {
	width: 32px;
	height: 32px;
}

.long-arrow-up {
	width: 14px;
	height: 32px;
}

.loop {
	width: 32px;
	height: 32px;
}

.loop2 {
	width: 32px;
	height: 32px;
}

.loop3 {
	width: 32px;
	height: 32px;
}

.loop4 {
	width: 32px;
	height: 32px;
}

.magic {
	width: 30px;
	height: 32px;
}

.magnet {
	width: 32px;
	height: 32px;
}

.magnet2 {
	width: 32px;
	height: 32px;
}

.magnet3 {
	width: 32px;
	height: 32px;
}

.mail {
	width: 32px;
	height: 32px;
}

.mail-forward {
	width: 32px;
	height: 32px;
}

.mail-reply {
	width: 32px;
	height: 32px;
}

.mail2 {
	width: 32px;
	height: 32px;
}

.mail3 {
	width: 32px;
	height: 32px;
}

.mail4 {
	width: 32px;
	height: 32px;
}

.mail5 {
	width: 32px;
	height: 32px;
}

.male {
	width: 18px;
	height: 32px;
}

.map {
	width: 32px;
	height: 32px;
}

.map-marker {
	width: 18px;
	height: 32px;
}

.map2 {
	width: 32px;
	height: 32px;
}

.map3 {
	width: 32px;
	height: 32px;
}

.maxcdn {
	width: 32px;
	height: 32px;
}

.medkit {
	width: 32px;
	height: 32px;
}

.megaphone {
	width: 32px;
	height: 32px;
}

.meh-o {
	width: 32px;
	height: 32px;
}

.menu {
	width: 32px;
	height: 32px;
}

.menu2 {
	width: 32px;
	height: 32px;
}

.menu3 {
	width: 32px;
	height: 32px;
}

.meter {
	width: 32px;
	height: 32px;
}

.meter2 {
	width: 32px;
	height: 32px;
}

.microphone {
	width: 21px;
	height: 32px;
}

.microphone-slash {
	width: 25px;
	height: 32px;
}

.microphone2 {
	width: 32px;
	height: 32px;
}

.minus {
	width: 25px;
	height: 32px;
}

.minus-circle {
	width: 32px;
	height: 32px;
}

.minus-square {
	width: 32px;
	height: 32px;
}

.minus-square-o {
	width: 25px;
	height: 32px;
}

.minus2 {
	width: 32px;
	height: 32px;
}

.minus3 {
	width: 32px;
	height: 32px;
}

.minus4 {
	width: 32px;
	height: 32px;
}

.minus5 {
	width: 32px;
	height: 32px;
}

.mixi {
	width: 32px;
	height: 32px;
}

.mobile {
	width: 32px;
	height: 32px;
}

.mobile-phone {
	width: 14px;
	height: 32px;
}

.mobile2 {
	width: 32px;
	height: 32px;
}

.mobile3 {
	width: 32px;
	height: 32px;
}

.money {
	width: 34px;
	height: 32px;
}

.moon {
	width: 32px;
	height: 32px;
}

.moon-o {
	width: 32px;
	height: 32px;
}

.moon2 {
	width: 32px;
	height: 32px;
}

.moon3 {
	width: 32px;
	height: 32px;
}

.mouse {
	width: 32px;
	height: 32px;
}

.mug {
	width: 32px;
	height: 32px;
}

.music {
	width: 32px;
	height: 32px;
}

.music2 {
	width: 32px;
	height: 32px;
}

.music3 {
	width: 32px;
	height: 32px;
}

.music4 {
	width: 32px;
	height: 32px;
}

.music5 {
	width: 32px;
	height: 32px;
}

.mute {
	width: 32px;
	height: 32px;
}

.network {
	width: 32px;
	height: 32px;
}

.neutral {
	width: 32px;
	height: 32px;
}

.neutral2 {
	width: 32px;
	height: 32px;
}

.new {
	width: 32px;
	height: 32px;
}

.newspaper {
	width: 32px;
	height: 32px;
}

.newspaper2 {
	width: 32px;
	height: 32px;
}

.newtab {
	width: 32px;
	height: 32px;
}

.next {
	width: 32px;
	height: 32px;
}

.next2 {
	width: 32px;
	height: 32px;
}

.none {
	width: 32px;
	height: 32px;
}

.notebook {
	width: 32px;
	height: 32px;
}

.notification {
	width: 32px;
	height: 32px;
}

.numbered-list {
	width: 32px;
	height: 32px;
}

.office {
	width: 32px;
	height: 32px;
}

.omega {
	width: 32px;
	height: 32px;
}

.opera {
	width: 32px;
	height: 32px;
}

.pacman {
	width: 32px;
	height: 32px;
}

.pagelines {
	width: 25px;
	height: 32px;
}

.paint-format {
	width: 32px;
	height: 32px;
}

.palette {
	width: 32px;
	height: 32px;
}

.paperclip {
	width: 25px;
	height: 32px;
}

.paperclip2 {
	width: 32px;
	height: 32px;
}

.paperplane {
	width: 32px;
	height: 32px;
}

.paragraph-center {
	width: 32px;
	height: 32px;
}

.paragraph-center2 {
	width: 32px;
	height: 32px;
}

.paragraph-justify {
	width: 32px;
	height: 32px;
}

.paragraph-justify2 {
	width: 32px;
	height: 32px;
}

.paragraph-left {
	width: 32px;
	height: 32px;
}

.paragraph-left2 {
	width: 32px;
	height: 32px;
}

.paragraph-right {
	width: 32px;
	height: 32px;
}

.paragraph-right2 {
	width: 32px;
	height: 32px;
}

.paste {
	width: 32px;
	height: 32px;
}

.paste2 {
	width: 32px;
	height: 32px;
}

.paste3 {
	width: 32px;
	height: 32px;
}

.paste4 {
	width: 32px;
	height: 32px;
}

.pause {
	width: 32px;
	height: 32px;
}

.pause2 {
	width: 32px;
	height: 32px;
}

.pause3 {
	width: 32px;
	height: 32px;
}

.pause4 {
	width: 32px;
	height: 32px;
}

.pawn {
	width: 32px;
	height: 32px;
}

.paypal {
	width: 32px;
	height: 32px;
}

.paypal2 {
	width: 32px;
	height: 32px;
}

.paypal3 {
	width: 32px;
	height: 32px;
}

.paypal4 {
	width: 32px;
	height: 32px;
}

.pen {
	width: 32px;
	height: 32px;
}

.pencil {
	width: 32px;
	height: 32px;
}

.pencil-square {
	width: 32px;
	height: 32px;
}

.pencil2 {
	width: 32px;
	height: 32px;
}

.pencil3 {
	width: 32px;
	height: 32px;
}

.pencil4 {
	width: 32px;
	height: 32px;
}

.phone {
	width: 25px;
	height: 32px;
}

.phone-hang-up {
	width: 32px;
	height: 32px;
}

.phone-square {
	width: 32px;
	height: 32px;
}

.phone2 {
	width: 32px;
	height: 32px;
}

.phone3 {
	width: 32px;
	height: 32px;
}

.picasa {
	width: 32px;
	height: 32px;
}

.picassa {
	width: 32px;
	height: 32px;
}

.picassa2 {
	width: 32px;
	height: 32px;
}

.picture-o {
	width: 34px;
	height: 32px;
}

.pictures {
	width: 32px;
	height: 32px;
}

.pie {
	width: 32px;
	height: 32px;
}

.pie2 {
	width: 32px;
	height: 32px;
}

.pilcrow {
	width: 32px;
	height: 32px;
}

.pinterest {
	width: 32px;
	height: 32px;
}

.pinterest-square {
	width: 32px;
	height: 32px;
}

.pinterest2 {
	width: 32px;
	height: 32px;
}

.pinterest3 {
	width: 32px;
	height: 32px;
}

.pinterest4 {
	width: 32px;
	height: 32px;
}

.pinterest5 {
	width: 32px;
	height: 32px;
}

.plane {
	width: 25px;
	height: 32px;
}

.play {
	width: 25px;
	height: 32px;
}

.play-circle {
	width: 32px;
	height: 32px;
}

.play-circle-o {
	width: 32px;
	height: 32px;
}

.play2 {
	width: 32px;
	height: 32px;
}

.play3 {
	width: 32px;
	height: 32px;
}

.play4 {
	width: 32px;
	height: 32px;
}

.play5 {
	width: 32px;
	height: 32px;
}

.plus {
	width: 25px;
	height: 32px;
}

.plus-circle {
	width: 32px;
	height: 32px;
}

.plus-square {
	width: 32px;
	height: 32px;
}

.plus-square-o {
	width: 25px;
	height: 32px;
}

.plus2 {
	width: 32px;
	height: 32px;
}

.plus3 {
	width: 32px;
	height: 32px;
}

.plus4 {
	width: 32px;
	height: 32px;
}

.plus5 {
	width: 32px;
	height: 32px;
}

.podcast {
	width: 32px;
	height: 32px;
}

.point-down {
	width: 32px;
	height: 32px;
}

.point-left {
	width: 32px;
	height: 32px;
}

.point-right {
	width: 32px;
	height: 32px;
}

.point-up {
	width: 32px;
	height: 32px;
}

.popup {
	width: 32px;
	height: 32px;
}

.power-off {
	width: 32px;
	height: 32px;
}

.powercord {
	width: 32px;
	height: 32px;
}

.previous {
	width: 32px;
	height: 32px;
}

.previous2 {
	width: 32px;
	height: 32px;
}

.print {
	width: 30px;
	height: 32px;
}

.print2 {
	width: 32px;
	height: 32px;
}

.printer {
	width: 32px;
	height: 32px;
}

.profile {
	width: 32px;
	height: 32px;
}

.progress-0 {
	width: 32px;
	height: 32px;
}

.progress-2 {
	width: 32px;
	height: 32px;
}

.progress-3 {
	width: 32px;
	height: 32px;
}

.publish {
	width: 32px;
	height: 32px;
}

.pushpin {
	width: 32px;
	height: 32px;
}

.puzzle-piece {
	width: 30px;
	height: 32px;
}

.qq {
	width: 32px;
	height: 32px;
}

.qrcode {
	width: 25px;
	height: 32px;
}

.qrcode2 {
	width: 32px;
	height: 32px;
}

.question {
	width: 18px;
	height: 32px;
}

.question-circle {
	width: 32px;
	height: 32px;
}

.question2 {
	width: 32px;
	height: 32px;
}

.question3 {
	width: 32px;
	height: 32px;
}

.quill {
	width: 32px;
	height: 32px;
}

.quote {
	width: 32px;
	height: 32px;
}

.quote-left {
	width: 30px;
	height: 32px;
}

.quote-right {
	width: 30px;
	height: 32px;
}

.quotes-left {
	width: 32px;
	height: 32px;
}

.radio-checked {
	width: 32px;
	height: 32px;
}

.radio-unchecked {
	width: 32px;
	height: 32px;
}

.rainy {
	width: 32px;
	height: 32px;
}

.rainy2 {
	width: 32px;
	height: 32px;
}

.rainy3 {
	width: 32px;
	height: 32px;
}

.rainy4 {
	width: 32px;
	height: 32px;
}

.random {
	width: 32px;
	height: 32px;
}

.rdio {
	width: 32px;
	height: 32px;
}

.rdio2 {
	width: 32px;
	height: 32px;
}

.record {
	width: 32px;
	height: 32px;
}

.reddit {
	width: 32px;
	height: 32px;
}

.redo {
	width: 32px;
	height: 32px;
}

.redo2 {
	width: 32px;
	height: 32px;
}

.refresh {
	width: 32px;
	height: 32px;
}

.remove {
	width: 32px;
	height: 32px;
}

.remove2 {
	width: 32px;
	height: 32px;
}

.renren {
	width: 32px;
	height: 32px;
}

.renren2 {
	width: 32px;
	height: 32px;
}

.reply {
	width: 32px;
	height: 32px;
}

.reply-all {
	width: 32px;
	height: 32px;
}

.reply-all2 {
	width: 32px;
	height: 32px;
}

.reply2 {
	width: 32px;
	height: 32px;
}

.resize-enlarge {
	width: 32px;
	height: 32px;
}

.resize-shrink {
	width: 32px;
	height: 32px;
}

.retweet {
	width: 34px;
	height: 32px;
}

.retweet2 {
	width: 32px;
	height: 32px;
}

.righttoleft {
	width: 32px;
	height: 32px;
}

.road {
	width: 34px;
	height: 32px;
}

.road2 {
	width: 32px;
	height: 32px;
}

.rocket {
	width: 30px;
	height: 32px;
}

.rocket2 {
	width: 32px;
	height: 32px;
}

.rocket3 {
	width: 32px;
	height: 32px;
}

.rotate-left {
	width: 32px;
	height: 32px;
}

.rotate-right {
	width: 32px;
	height: 32px;
}

.rss {
	width: 25px;
	height: 32px;
}

.rss-square {
	width: 32px;
	height: 32px;
}

.rss2 {
	width: 32px;
	height: 32px;
}

.ruble {
	width: 23px;
	height: 32px;
}

.rupee {
	width: 16px;
	height: 32px;
}

.sad {
	width: 32px;
	height: 32px;
}

.sad2 {
	width: 32px;
	height: 32px;
}

.safari {
	width: 32px;
	height: 32px;
}

.save {
	width: 32px;
	height: 32px;
}

.scissors {
	width: 32px;
	height: 32px;
}

.screen {
	width: 32px;
	height: 32px;
}

.screen2 {
	width: 32px;
	height: 32px;
}

.search {
	width: 30px;
	height: 32px;
}

.search-minus {
	width: 30px;
	height: 32px;
}

.search-plus {
	width: 30px;
	height: 32px;
}

.search2 {
	width: 32px;
	height: 32px;
}

.search3 {
	width: 32px;
	height: 32px;
}

.settings {
	width: 32px;
	height: 32px;
}

.sharable {
	width: 32px;
	height: 32px;
}

.share {
	width: 32px;
	height: 32px;
}

.share-square {
	width: 32px;
	height: 32px;
}

.share-square-o {
	width: 30px;
	height: 32px;
}

.share2 {
	width: 32px;
	height: 32px;
}

.shield {
	width: 23px;
	height: 32px;
}

.shield2 {
	width: 32px;
	height: 32px;
}

.shocked {
	width: 32px;
	height: 32px;
}

.shocked2 {
	width: 32px;
	height: 32px;
}

.shopping-cart {
	width: 30px;
	height: 32px;
}

.shuffle {
	width: 32px;
	height: 32px;
}

.shuffle2 {
	width: 32px;
	height: 32px;
}

.sigma {
	width: 32px;
	height: 32px;
}

.sign-in {
	width: 32px;
	height: 32px;
}

.sign-out {
	width: 30px;
	height: 32px;
}

.signal {
	width: 32px;
	height: 32px;
}

.signal2 {
	width: 32px;
	height: 32px;
}

.signup {
	width: 32px;
	height: 32px;
}

.sina-weibo {
	width: 32px;
	height: 32px;
}

.sitemap {
	width: 32px;
	height: 32px;
}

.skype {
	width: 32px;
	height: 32px;
}

.skype2 {
	width: 32px;
	height: 32px;
}

.skype3 {
	width: 32px;
	height: 32px;
}

.skype4 {
	width: 32px;
	height: 32px;
}

.smashing {
	width: 32px;
	height: 32px;
}

.smile-o {
	width: 32px;
	height: 32px;
}

.smiley {
	width: 32px;
	height: 32px;
}

.smiley2 {
	width: 32px;
	height: 32px;
}

.snowflake {
	width: 32px;
	height: 32px;
}

.snowy {
	width: 32px;
	height: 32px;
}

.snowy2 {
	width: 32px;
	height: 32px;
}

.snowy3 {
	width: 32px;
	height: 32px;
}

.snowy4 {
	width: 32px;
	height: 32px;
}

.snowy5 {
	width: 32px;
	height: 32px;
}

.sort-alpha-asc {
	width: 30px;
	height: 32px;
}

.sort-alpha-desc {
	width: 30px;
	height: 32px;
}

.sort-amount-asc {
	width: 32px;
	height: 32px;
}

.sort-amount-desc {
	width: 32px;
	height: 32px;
}

.sort-down {
	width: 18px;
	height: 32px;
}

.sort-numeric-asc {
	width: 32px;
	height: 32px;
}

.sort-numeric-desc {
	width: 32px;
	height: 32px;
}

.sort-up {
	width: 18px;
	height: 32px;
}

.sound {
	width: 32px;
	height: 32px;
}

.soundcloud {
	width: 32px;
	height: 32px;
}

.soundcloud2 {
	width: 32px;
	height: 32px;
}

.soundcloud3 {
	width: 32px;
	height: 32px;
}

.spades {
	width: 32px;
	height: 32px;
}

.spam {
	width: 32px;
	height: 32px;
}

.spell-check {
	width: 32px;
	height: 32px;
}

.spinner {
	width: 28px;
	height: 32px;
}

.spinner2 {
	width: 32px;
	height: 32px;
}

.spinner3 {
	width: 32px;
	height: 32px;
}

.spinner4 {
	width: 32px;
	height: 32px;
}

.spinner5 {
	width: 32px;
	height: 32px;
}

.spinner6 {
	width: 32px;
	height: 32px;
}

.spinner7 {
	width: 32px;
	height: 32px;
}

.spotify {
	width: 32px;
	height: 32px;
}

.spotify2 {
	width: 32px;
	height: 32px;
}

.square {
	width: 32px;
	height: 32px;
}

.square-o {
	width: 25px;
	height: 32px;
}

.stack {
	width: 32px;
	height: 32px;
}

.stack-exchange {
	width: 23px;
	height: 32px;
}

.stack-overflow {
	width: 25px;
	height: 32px;
}

.stackoverflow {
	width: 32px;
	height: 32px;
}

.star {
	width: 30px;
	height: 32px;
}

.star-half {
	width: 16px;
	height: 32px;
}

.star-half-empty {
	width: 30px;
	height: 32px;
}

.star-o {
	width: 30px;
	height: 32px;
}

.star2 {
	width: 32px;
	height: 32px;
}

.star3 {
	width: 32px;
	height: 32px;
}

.star4 {
	width: 32px;
	height: 32px;
}

.star5 {
	width: 32px;
	height: 32px;
}

.star6 {
	width: 32px;
	height: 32px;
}

.statistics {
	width: 32px;
	height: 32px;
}

.stats {
	width: 32px;
	height: 32px;
}

.steam {
	width: 32px;
	height: 32px;
}

.steam2 {
	width: 32px;
	height: 32px;
}

.step-backward {
	width: 18px;
	height: 32px;
}

.step-forward {
	width: 18px;
	height: 32px;
}

.stethoscope {
	width: 25px;
	height: 32px;
}

.stop {
	width: 32px;
	height: 32px;
}

.stop2 {
	width: 32px;
	height: 32px;
}

.stop3 {
	width: 32px;
	height: 32px;
}

.stop4 {
	width: 32px;
	height: 32px;
}

.stopwatch {
	width: 32px;
	height: 32px;
}

.storage {
	width: 32px;
	height: 32px;
}

.strikethrough {
	width: 32px;
	height: 32px;
}

.strikethrough2 {
	width: 32px;
	height: 32px;
}

.stumbleupon {
	width: 32px;
	height: 32px;
}

.stumbleupon2 {
	width: 32px;
	height: 32px;
}

.stumbleupon3 {
	width: 32px;
	height: 32px;
}

.stumbleupon4 {
	width: 32px;
	height: 32px;
}

.subscript {
	width: 32px;
	height: 32px;
}

.suitcase {
	width: 32px;
	height: 32px;
}

.suitcase2 {
	width: 32px;
	height: 32px;
}

.sun {
	width: 32px;
	height: 32px;
}

.sun-o {
	width: 32px;
	height: 32px;
}

.sun2 {
	width: 32px;
	height: 32px;
}

.sun3 {
	width: 32px;
	height: 32px;
}

.sun4 {
	width: 32px;
	height: 32px;
}

.sun5 {
	width: 32px;
	height: 32px;
}

.sunrise {
	width: 32px;
	height: 32px;
}

.superscript {
	width: 32px;
	height: 32px;
}

.support {
	width: 32px;
	height: 32px;
}

.switch {
	width: 32px;
	height: 32px;
}

.switch2 {
	width: 32px;
	height: 32px;
}

.tab {
	width: 32px;
	height: 32px;
}

.table {
	width: 30px;
	height: 32px;
}

.table2 {
	width: 32px;
	height: 32px;
}

.table3 {
	width: 32px;
	height: 32px;
}

.tablet {
	width: 21px;
	height: 32px;
}

.tablet2 {
	width: 32px;
	height: 32px;
}

.tag {
	width: 32px;
	height: 32px;
}

.tag2 {
	width: 32px;
	height: 32px;
}

.tag3 {
	width: 32px;
	height: 32px;
}

.tags {
	width: 34px;
	height: 32px;
}

.tags2 {
	width: 34px;
	height: 32px;
}

.target {
	width: 32px;
	height: 32px;
}

.target2 {
	width: 32px;
	height: 32px;
}

.tasks {
	width: 32px;
	height: 32px;
}

.terminal {
	width: 30px;
	height: 32px;
}

.text {
	width: 32px;
	height: 32px;
}

.text-height {
	width: 32px;
	height: 32px;
}

.text-height2 {
	width: 32px;
	height: 32px;
}

.text-width {
	width: 32px;
	height: 32px;
}

.text-width2 {
	width: 32px;
	height: 32px;
}

.text2 {
	width: 32px;
	height: 32px;
}

.th {
	width: 32px;
	height: 32px;
}

.th-large {
	width: 30px;
	height: 32px;
}

.th-list {
	width: 32px;
	height: 32px;
}

.thermometer {
	width: 32px;
	height: 32px;
}

.thermometer2 {
	width: 32px;
	height: 32px;
}

.thumb-tack {
	width: 21px;
	height: 32px;
}

.thumbs-down {
	width: 30px;
	height: 32px;
}

.thumbs-o-down {
	width: 32px;
	height: 32px;
}

.thumbs-o-up {
	width: 32px;
	height: 32px;
}

.thumbs-up {
	width: 30px;
	height: 32px;
}

.thumbs-up2 {
	width: 32px;
	height: 32px;
}

.thumbs-up3 {
	width: 32px;
	height: 32px;
}

.thumbsdown {
	width: 32px;
	height: 32px;
}

.thumbsup {
	width: 32px;
	height: 32px;
}

.thunder {
	width: 32px;
	height: 32px;
}

.ticket {
	width: 32px;
	height: 32px;
}

.ticket2 {
	width: 32px;
	height: 32px;
}

.ticket3 {
	width: 32px;
	height: 32px;
}

.times {
	width: 25px;
	height: 32px;
}

.times-circle {
	width: 32px;
	height: 32px;
}

.times-circle-o {
	width: 32px;
	height: 32px;
}

.tint {
	width: 18px;
	height: 32px;
}

.toggle-down {
	width: 32px;
	height: 32px;
}

.toggle-left {
	width: 32px;
	height: 32px;
}

.toggle-right {
	width: 32px;
	height: 32px;
}

.toggle-up {
	width: 32px;
	height: 32px;
}

.tongue {
	width: 32px;
	height: 32px;
}

.tongue2 {
	width: 32px;
	height: 32px;
}

.tools {
	width: 32px;
	height: 32px;
}

.trash {
	width: 32px;
	height: 32px;
}

.trash-o {
	width: 25px;
	height: 32px;
}

.tree {
	width: 32px;
	height: 32px;
}

.trello {
	width: 32px;
	height: 32px;
}

.trophy {
	width: 30px;
	height: 32px;
}

.trophy2 {
	width: 32px;
	height: 32px;
}

.trophy3 {
	width: 32px;
	height: 32px;
}

.truck {
	width: 32px;
	height: 32px;
}

.truck2 {
	width: 32px;
	height: 32px;
}

.tumblr {
	width: 18px;
	height: 32px;
}

.tumblr-square {
	width: 32px;
	height: 32px;
}

.tumblr2 {
	width: 32px;
	height: 32px;
}

.tumblr3 {
	width: 32px;
	height: 32px;
}

.tumblr4 {
	width: 32px;
	height: 32px;
}

.tumblr5 {
	width: 32px;
	height: 32px;
}

.turkish-lira {
	width: 21px;
	height: 32px;
}

.tux {
	width: 32px;
	height: 32px;
}

.tv {
	width: 32px;
	height: 32px;
}

.twitter {
	width: 30px;
	height: 32px;
}

.twitter-square {
	width: 32px;
	height: 32px;
}

.twitter2 {
	width: 32px;
	height: 32px;
}

.twitter3 {
	width: 32px;
	height: 32px;
}

.twitter4 {
	width: 32px;
	height: 32px;
}

.twitter5 {
	width: 32px;
	height: 32px;
}

.twitter6 {
	width: 32px;
	height: 32px;
}

.umbrella {
	width: 30px;
	height: 32px;
}

.underline {
	width: 32px;
	height: 32px;
}

.underline2 {
	width: 32px;
	height: 32px;
}

.undo {
	width: 32px;
	height: 32px;
}

.undo2 {
	width: 32px;
	height: 32px;
}

.unlink {
	width: 30px;
	height: 32px;
}

.unlock {
	width: 30px;
	height: 32px;
}

.unlock-alt {
	width: 21px;
	height: 32px;
}

.unlocked {
	width: 32px;
	height: 32px;
}

.unsorted {
	width: 18px;
	height: 32px;
}

.upload {
	width: 30px;
	height: 32px;
}

.upload2 {
	width: 32px;
	height: 32px;
}

.upload3 {
	width: 32px;
	height: 32px;
}

.upload4 {
	width: 32px;
	height: 32px;
}

.upload5 {
	width: 32px;
	height: 32px;
}

.upload6 {
	width: 32px;
	height: 32px;
}

.user {
	width: 25px;
	height: 32px;
}

.user-add {
	width: 32px;
	height: 32px;
}

.user-md {
	width: 25px;
	height: 32px;
}

.user2 {
	width: 32px;
	height: 32px;
}

.user3 {
	width: 32px;
	height: 32px;
}

.user4 {
	width: 32px;
	height: 32px;
}

.user5 {
	width: 32px;
	height: 32px;
}

.user6 {
	width: 32px;
	height: 32px;
}

.users {
	width: 32px;
	height: 32px;
}

.users2 {
	width: 32px;
	height: 32px;
}

.users3 {
	width: 32px;
	height: 32px;
}

.vcard {
	width: 32px;
	height: 32px;
}

.video {
	width: 32px;
	height: 32px;
}

.video-camera {
	width: 32px;
	height: 32px;
}

.vimeo {
	width: 32px;
	height: 32px;
}

.vimeo-square {
	width: 32px;
	height: 32px;
}

.vimeo2 {
	width: 32px;
	height: 32px;
}

.vimeo3 {
	width: 32px;
	height: 32px;
}

.vimeo4 {
	width: 32px;
	height: 32px;
}

.vimeo5 {
	width: 32px;
	height: 32px;
}

.vk {
	width: 34px;
	height: 32px;
}

.vk2 {
	width: 32px;
	height: 32px;
}

.voicemail {
	width: 32px;
	height: 32px;
}

.volume {
	width: 32px;
	height: 32px;
}

.volume-decrease {
	width: 32px;
	height: 32px;
}

.volume-down {
	width: 21px;
	height: 32px;
}

.volume-high {
	width: 34px;
	height: 32px;
}

.volume-increase {
	width: 32px;
	height: 32px;
}

.volume-low {
	width: 32px;
	height: 32px;
}

.volume-medium {
	width: 32px;
	height: 32px;
}

.volume-mute {
	width: 32px;
	height: 32px;
}

.volume-mute2 {
	width: 32px;
	height: 32px;
}

.volume-off {
	width: 14px;
	height: 32px;
}

.volume-up {
	width: 30px;
	height: 32px;
}

.wand {
	width: 32px;
	height: 32px;
}

.warning {
	width: 32px;
	height: 32px;
}

.warning2 {
	width: 32px;
	height: 32px;
}

.warning3 {
	width: 32px;
	height: 32px;
}

.weather {
	width: 32px;
	height: 32px;
}

.weather2 {
	width: 32px;
	height: 32px;
}

.weather3 {
	width: 32px;
	height: 32px;
}

.weather4 {
	width: 32px;
	height: 32px;
}

.weather5 {
	width: 32px;
	height: 32px;
}

.weibo {
	width: 32px;
	height: 32px;
}

.wheelchair {
	width: 30px;
	height: 32px;
}

.wind {
	width: 32px;
	height: 32px;
}

.windows {
	width: 30px;
	height: 32px;
}

.windows2 {
	width: 32px;
	height: 32px;
}

.windows8 {
	width: 32px;
	height: 32px;
}

.windy {
	width: 32px;
	height: 32px;
}

.windy2 {
	width: 32px;
	height: 32px;
}

.windy3 {
	width: 32px;
	height: 32px;
}

.windy4 {
	width: 32px;
	height: 32px;
}

.windy5 {
	width: 32px;
	height: 32px;
}

.wink {
	width: 32px;
	height: 32px;
}

.wink2 {
	width: 32px;
	height: 32px;
}

.won {
	width: 32px;
	height: 32px;
}

.wondering {
	width: 32px;
	height: 32px;
}

.wondering2 {
	width: 32px;
	height: 32px;
}

.wordpress {
	width: 32px;
	height: 32px;
}

.wordpress2 {
	width: 32px;
	height: 32px;
}

.wrench {
	width: 30px;
	height: 32px;
}

.wrench2 {
	width: 32px;
	height: 32px;
}

.xing {
	width: 25px;
	height: 32px;
}

.xing-square {
	width: 32px;
	height: 32px;
}

.xing2 {
	width: 32px;
	height: 32px;
}

.xing3 {
	width: 32px;
	height: 32px;
}

.yahoo {
	width: 32px;
	height: 32px;
}

.yelp {
	width: 32px;
	height: 32px;
}

.youtube {
	width: 32px;
	height: 32px;
}

.youtube-play {
	width: 32px;
	height: 32px;
}

.youtube-square {
	width: 32px;
	height: 32px;
}

.youtube2 {
	width: 32px;
	height: 32px;
}

.youtube3 {
	width: 32px;
	height: 32px;
}

.zoomin {
	width: 32px;
	height: 32px;
}

.zoomout {
	width: 32px;
	height: 32px;
}
